{% extends 'base.html.twig' %}

{% block title %}Annonces index
{% endblock %}

{% block body %}
	<body style="height:100%">
		<link rel="stylesheet" href="{{ asset('css/all.css') }}">
		<div class="container">
			<div class="container mt-3">
				<h1 style="font-size:25px">Liste de nos Produits</h1>
			</div>
			<div class="pt-3">
				{{ knp_pagination_render(annonces) }}
			</div>
			{# div class card #}


			<div
				class="container d-flex">
				{# card #}
				{% for annonce in annonces %}
					<div class="card mx-3" style="width: 18rem;">
						{% for image in annonce.images %}
							<img class="card-img-top" src="{{ asset('/uploads/' ~ image.name) }}" alt="photo_produit" width="100">
						{% endfor %}

						<div class="card-body">
							<h5 class="card-title">{{ annonce.title }}</h5>
							<h6 class="card-title">{{ annonce.descriptionsimple }}</h6>
							<h6 class="card-title">{{ annonce.price }}</h6>

							<a class="btn btn-primary btn-sm mx-2" href="{{ path('annonces_show', {'id': annonce.id}) }}">Détail</a>
							{% if app.user %}
								{% if app.user.roles[0] is same as "ROLE_ADMIN" %}
									<a class=" btn btn-warning btn-sm " href="{{ path('annonces_edit', {'id': annonce.id}) }}">Modifier</a>
								{% endif %}
							{% endif %}

						</div>
					</div>
				{% endfor %}
			</div>
			{# fin card #}


			{# div class card #}
			<div class="pt-3">
				{{ knp_pagination_render(annonces) }}
			</div>
		</div>
	</body>
{% endblock %}
