{% extends 'base.html.twig' %}

{% block title %}Produit détail
{% endblock %}

{% block body %}

	{# grid #}
	<div class="container mt-4">
		<h2 class="mt-3">Détail du produit</h2>
		<div class="row">
			<div class="col-sm">
				{% for image in annonce.images %}
					<img class="card-img-top mb-3" src="{{ asset('/uploads/' ~ image.name) }}" alt="photo_produit" width="180" alt="Card image cap">
				{% endfor %}
			</div>
			<div class="col-sm">
				<h5 class="card-title">{{ annonce.title }}/h5>
					<p class="card-text">{{ annonce.content |raw}}</p>
					<p class="card-text">{{ annonce.price }}
						€</p>
					<a class="btn btn-primary mt-3" href="{{ path('annonces_index') }}">retour a la liste des produits</a>
				</div>

			</div>

		</div>
	</div>

	{# grid #}


{% endblock %}
